apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
{% if k8s_control_plane_endpoint | default('') | length > 0 %}
controlPlaneEndpoint: "{{ k8s_control_plane_endpoint }}"
{% endif %}
networking:
{% if k8s_use_pod_cidr or k8s_install_flannel %}
  podSubnet: "{{ k8s_pod_network_cidr }}"
{% endif %}
{% if k8s_use_pod_cidr or k8s_install_flannel %}
controllerManager:
  extraArgs:
    allocate-node-cidrs: "true"
    cluster-cidr: "{{ k8s_pod_network_cidr }}"
{% endif %}
